/*
 * Globals
 */

 

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}
container {
  max-width: 42em;
}

#masterContainer {
  background-color: blanchedalmond;
}

#bio-pic {
  max-width: 30%;
  height: auto;
}



