/*
 * Globals
 */

 

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}
container {
  max-width: 42em;
}

/* #masterContainer, container {
  background-color: blanchedalmond;
} */

#bio-pic {
  max-width: 30%;
  height: auto;
}

#coding-pic {
  max-width: 100%
}

.banana {
  background-color: salmon;
}
